@import './reset.css';

:root {
  --ciu-border-radius: 3px;
  --ciu-spacing: 0.7rem;

  --ciu-font-size: 1rem;
  --ciu-font: 400 var(--ciu-font-size) 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

  --ciu-box-shadow: 3px 3px 3px 2px #777777;
  --ciu-box-shadow-small: 1px 1px 1px 1px #777777;

  --ciu-color: #000000;
  --ciu-inactive-color: black;
  --ciu-muted-color: #757575;
  --ciu-hint-color: #EEEEEE;
  --ciu-active-color: #ff5e5e;
}

.ciu-control {
  box-sizing: border-box;
  margin-bottom: var(--ciu-spacing);
}

body {
  height: 100vh;
  margin: 0px;
  font: var(--ciu-font);
}

a {
  font: var(--ciu-font);
  color: var(--ciu-active-color);
  text-decoration: none;
}

a:hover {
  font: var(--ciu-font);
  color: var(--ciu-active-color);
  text-decoration: underline;
}